<md-toolbar color="primary">
        <md-icon><i class="material-icons icon-20">playlist_play</i>
        </md-icon>Audio Editor
    </md-toolbar>
<md-sidenav-layout>
    
     <app-player #PlayerComponent *ngIf="realdata" [dragStartIndex]="dragStartIndex" [dragEndIndex]="dragEndIndex" (clearAllSelection)="clearAllReadSelection()" (newrecording)="pushtoRecording($event)" (timestampemit)="speechhightlight($event)"  [setTimeoutStart]="lastSelected" [audioUrl]='music' [soundtimestamps]="realdata" ></app-player>
        <context-menu #basicMenu>
          <template contextMenuItem (execute)="showMessage('playselection')">
            Play Selection
          </template>
          <template contextMenuItem (execute)="showMessage('playfrom')">
            Play from here
          </template>
          <template contextMenuItem (execute)="showMessage('cut')">
            cut
          </template>
          <template contextMenuItem (execute)="showMessage('pasteBefore')">
            Paste Before 
          </template>
          <template contextMenuItem (execute)="showMessage('breakline')">
            Break line
          </template>
          <template contextMenuItem (execute)="showMessage('pasteAfter')">
            Paste After
          </template>
          <template contextMenuItem (execute)="showMessage('undo')">
            Undo
          </template>
          <template contextMenuItem (execute)="saveTofirebase('undo')">
            Save this to firebase
          </template>
        </context-menu>

    <div class="app-content">

        <form autocomplete="off" >
        <md-card  *ngIf="realdata" class="wordHolder"  [contextMenu]="basicMenu"  [contextMenuSubject]="items">
            <p class="noselect" (click)="showOptions()" >
            <template ngFor let-item [ngForOf]="realdata" let-i="index">
                <app-word  *ngIf="item.empty==false" (selectAnotherWord)="selectAnotherWord($event)" [index]="i" (clickEvent)="clickEvent($event);" (selection)="selection(i)" (draggedEnded)="draggedEnded(i,$event)" (draggedStart)="draggedStart(i,$event)" [data]="item"> </app-word >
                <div *ngIf="item.empty==true" style="clear: both;height:20px">
                  </div>
                </template>
            </p>
            <p *ngIf="realdata.length<1">
            CHOOSE AND AUDIO FILE!
            </p>
        </md-card>
        </form>
    </div>

    <md-sidenav align="end" mode="side" opened>
        <md-tab-group >
            
            <md-tab>
                <template md-tab-label>Audio</template>
                <template md-tab-content>
                    <app-listdownload (loadNewAudio)="loadAudioFile($event);" (firstLoadSaveData)='saveDataFirebase()'></app-listdownload>
                </template>
            </md-tab>
            <md-tab>
                <template md-tab-label>Download</template>
                <template md-tab-content>
                    <md-list *ngFor="let red of recordings" [style.background]="'lightblue'">
                        <md-list-item>
                            <a [href]="red.href" [download]="red.download" >Download</a>
                        </md-list-item> 
                    </md-list>
                </template>
            </md-tab>
            
        </md-tab-group>
        <!-- <md-tab-group>
            <md-tab>
                <template md-tab-label>History</template>
                <template md-tab-content>
                    <md-list *ngFor="let history of history.history;let i=index" [style.background]="'lightblue'">
                      history
                    </md-list>
                </template>
            </md-tab>
          </md-tab-group> -->
    </md-sidenav>

</md-sidenav-layout>